<p>
    TABLA CON FILTRO Y PAGINACIÓN
</p>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar por">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.ID}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="TIPO_VIA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO_VIA </th>
            <td mat-cell *matCellDef="let row"> {{row.TIPO_VIA}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="VIA">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> VIA </th>
            <td mat-cell *matCellDef="let row"> {{row.VIA}} </td>
        </ng-container>

        <!-- LAT Column -->
        <ng-container matColumnDef="LAT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> LATITUD </th>
            <td mat-cell *matCellDef="let row"> {{row.LAT}} </td>
        </ng-container>
        <!-- LOG Column -->
        <ng-container matColumnDef="LOG">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> LONGITUD </th>
            <td mat-cell *matCellDef="let row"> {{row.LOG}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row);" [ngClass]="{'make-gold':row.ID == current}">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[2, 5, 10, 25, 100] "></mat-paginator>
</div>